<form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" id="name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label for="color">Color</mat-label>
        <input matInput type="text" id="color" formControlName="color" />
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label for="type">Type</mat-label>
        <input matInput type="text" id="type" formControlName="type" />
      </mat-form-field>
    </div>
  
    <div *ngFor="let control of datesValues.controls; let i = index" class="form-row">
      <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Date</mat-label>
        <input matInput type="text" [formControl]="getDateControl(i)" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="flex-item">
        <mat-label>Value</mat-label>
        <input matInput type="number" [formControl]="getValueControl(i)" />
      </mat-form-field>
      <button mat-icon-button color="warn" class="remove-button" (click)="removeDateValue(i)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  
    <button mat-raised-button color="primary" type="button" (click)="addDateValue()">Add Date Value</button>
    <button type="submit" mat-raised-button color="primary">Submit</button>

  </form>
